@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.tabContainer {
  display: flex;
  width: 100%;
  height: sizes.$TABBAR_HEIGHT;
  padding-top: 5px;
  border-top: 1px solid colors.$CARD_BACKGROUND;

  ul {
    display: flex;
    width: 100%;

    li {
      @include flexbox.flexbox;
      flex: 1;
      font-size: 14px;

      + li {
        border-left: 1px solid colors.$WHITE;
      }

      a {
        letter-spacing: 0.05em;
      }

      .isActive {
        font-weight: bold;
        letter-spacing: 0.05em;
      }
    }
  }
}
