@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    position: relative;
    width: sizes.$APP_WIDTH;
    height: 640px;
    padding: 5px 0;
    background-color: colors.$APP_BACKGROUND;
    border: 1px solid colors.$RED;
    border-radius: 20px;

    .header {
      height: sizes.$HEADER_HEIGHT;
      border: 1px solid gray;
    }
  }
}
