@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.cardContainer {
  display: flex;
  flex-direction: row;
  background-color: colors.$CARD_BACKGROUND;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;

  + .cardContainer {
    margin-top: 20px;
  }

  .poster {
    width: 80px;
    height: 100px;

    img {
      width: 80px;
      height: 100px;
      border-radius: 5px 0 0 5px;
      object-fit: cover;
    }
  }

  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 12px 0 12px 10px;
    text-align: left;

    dt {
      width: 200px;
      margin-bottom: 20px;
      overflow: hidden;
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      font-size: 12px;
      color: colors.$CARD_SUB_TEXT;

      + dd {
        margin-top: 5px;
      }
    }
  }

  .bookmark {
    width: 20px;

    .bookmarkIcon {
      color: colors.$WHITE;
    }

    .checkBoolmark {
      color: colors.$YELLOW;
    }
  }
}
