@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.cardContainer {
  + .cardContainer {
    margin-top: 30px;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    margin-left: 20px;
    background-color: colors.$CARD_BACKGROUND;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;

    .poster {
      position: relative;
      width: 80px;
      height: 100px;

      img {
        position: absolute;
        bottom: 10px;
        left: -20px;
        width: 80px;
        height: 100px;
        border-radius: 5px;
        object-fit: cover;
      }
    }

    article {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 10px;
      text-align: left;

      header {
        width: 200px;
        margin-bottom: 20px;
        overflow: hidden;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      dl {
        display: flex;
        font-size: 12px;
        color: colors.$CARD_SUB_TEXT;

        + dl {
          margin-top: 5px;
        }

        dd {
          margin-left: 3px;
        }
      }
    }

    .bookmark {
      margin-top: 5px;
      margin-right: 5px;

      .bookmarkIcon {
        color: colors.$WHITE;
      }

      .checkBoolmark {
        color: colors.$YELLOW;
      }
    }
  }
}
