@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.tabContainer {
  display: flex;
  width: 100%;
  height: sizes.$TABBAR_HEIGHT;
  padding-top: 5px;
  border-top: 1px solid colors.$CARD_BACKGROUND;

  button {
    @include flexbox.flexbox;
    flex: 1;

    + button {
      border-left: 1px solid colors.$WHITE;
    }
  }
}
