@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --text-color: white;
}

body,
button,
input,
textarea,
a {
  font-family: Inter, Arial, PingFangSC-Regular, 'Microsoft YaHei', 'Noto Sans KR', sans-serif !important;
  font-feature-settings: 'tnum';
  color: var(--text-color);
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
